/* Write your CSS here */
.nav-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 15px;
  border-bottom-style: solid;
  border-bottom-color: #dcdcdc;
  border-bottom-width: 2px;
  height: 60px;
}

.light-theme {
  background-color: White;
}

.dark-theme {
  background-color: #333333;
}

.website-logo {
  width: 40px;
  height: 40px;
}

.nav-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  padding: 0px;
}

.nav-link {
  font-size: 16px;
  margin-right: 10px;
  font-weight: bold;
}

.dark-content {
  color: #171f46;
  text-decoration: none;
}

.light-content {
  color: white;
  text-decoration: none;
}

.theme-change-button {
  width: 40px;
  height: 40px;
  background-color: transparent;
  border-style: none;
  outline: none;
}

.theme-image {
  width: 40px;
  height: 40px;
}
